{
	"presets": ["next/babel"],
	"plugins": [
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		[
			"styless",
			{
				"cwd": "babelrc",
				"import": "./styles/antd.less",
				"lessOptions": {
					"javascriptEnabled": true
				}
			}
		],
		[
			"styled-components",
			{ "ssr": true, "displayName": true, "preprocess": false }
		],
		[
			"import",
			{
				"libraryName": "antd",
				"style": true // or 'css'
			}
		],
		[
			"module-resolver",
			{
				"root": ["."],
				"alias": {
					"@components": "./components",
					"@utils": "./utils",
					"@pages": "./pages",
					"@styles": "./styles",
					"@services": "./services",
					"@models": "./models",
					"@constants": "./constants",
					"@containers": "./containers"
				}
			}
		]
	]
}
