html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.box{
  height: 600px;
}
circle{
  width: 120px;
  height: 120px;
  border-width: 16px;
}
@media (min-width: 768px) { 
  .box{
    height: 800px;
  }
 }
 @media (min-width: 1024px) { 
  .box{
    height: 800px;
  }
 }
 @media (min-width: 1280px) { 
  .box{
    height: 600px;
  }
 }